:root {
  --primary-color: #FE7A66;
  --primary-font-color: white;
  --secondary-font-color: black;
  --resume-width: 8.3in;
  --resume-height: 11in;
}

body, h1, h2, p, li, ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 18px;
}

li {
  list-style: none;
}

.mb24 {
  margin-bottom: 24px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 52px;
  padding-bottom: 52px;
}

.app-header {
  margin-bottom: 32px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  user-select: none;
}

.button-row button {
  width: 35%;
  font-size: 16px;
}

#edit-form {
  width: 30%;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#add-school-button, 
#add-work-button,
.delete-school-button,
.delete-work-button,
#preview-button,
.regular-button {
  padding: 8px;
  margin-top: 12px;
}
